<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
  <servlet>
    <servlet-name>tissCancelaGuia_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tisscancelaguia.v30200.TissCancelaGuiaPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissComunicacaoBeneficiario_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tisscomunicacaobeneficiario.v30200.TissComunicacaoBeneficiarioPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissLoteAnexo_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tissloteanexo.v30200.TissLoteAnexoPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissLoteGuias_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tissloteguias.v30200.TissLoteGuiasPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissRecursoGlosa_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tissrecursoglosa.v30200.TissRecursoGlosaPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissSolicitacaoDemonstrativoRetorno_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tisssolicitacaodemonstrativoretorno.v30200.TissSolicitacaoDemonstrativoRetornoPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissSolicitacaoProcedimento_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tisssolicitacaoprocedimento.v30200.TissSolicitacaoProcedimentoPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissSolicitacaoStatusAutorizacao_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tisssolicitacaostatusautorizacao.v30200.TissSolicitacaoStatusAutorizacaoPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissSolicitacaoStatusProtocolo_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tisssolicitacaostatusprotocolo.v30200.TissSolicitacaoStatusProtocoloPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissSolicitacaoStatusProtocoloRecurso_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tisssolicitacaostatusprotocolorecurso.v30200.TissSolicitacaoStatusProtocoloRecursoPortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>tissVerificaElegibilidade_Port</servlet-name>
    <servlet-class>br.gov.ans.tiss.ws.tipos.tissverificaelegibilidade.v30200.TissVerificaElegibilidadePortTypeImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>tissCancelaGuia_Port</servlet-name>
    <url-pattern>/tissCancelaGuia_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissComunicacaoBeneficiario_Port</servlet-name>
    <url-pattern>/tissComunicacaoBeneficiario_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissLoteAnexo_Port</servlet-name>
    <url-pattern>/tissLoteAnexo_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissLoteGuias_Port</servlet-name>
    <url-pattern>/tissLoteGuias_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissRecursoGlosa_Port</servlet-name>
    <url-pattern>/tissRecursoGlosa_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissSolicitacaoDemonstrativoRetorno_Port</servlet-name>
    <url-pattern>/tissSolicitacaoDemonstrativoRetorno_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissSolicitacaoProcedimento_Port</servlet-name>
    <url-pattern>/tissSolicitacaoProcedimento_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissSolicitacaoStatusAutorizacao_Port</servlet-name>
    <url-pattern>/tissSolicitacaoStatusAutorizacao_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissSolicitacaoStatusProtocolo_Port</servlet-name>
    <url-pattern>/tissSolicitacaoStatusProtocolo_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissSolicitacaoStatusProtocoloRecurso_Port</servlet-name>
    <url-pattern>/tissSolicitacaoStatusProtocoloRecurso_Port</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>tissVerificaElegibilidade_Port</servlet-name>
    <url-pattern>/tissVerificaElegibilidade_Port</url-pattern>
  </servlet-mapping>
</web-app>
